<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/img/weather.png">
  <title>About</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="main-container">
    {{>header}}

    <div class="main-content">
      <div class="about-card">
        <div class="about-img">
          <img src="/img/sun.png" alt="sun">
          <img src="/img/snow.png" alt="snow">
          <img src="/img/thunder.png" alt="thunder">
        </div>

        <div class="about-content">
          <h1 class="about-title">About</h1>
          <p class="about-text">
            <strong>skr-weather-webapp - Node JS Project</strong><br>
            It shows the weather of the given location. It is built using Node JS and Express JS in the
            backend and simple HTML and CSS in the frontend. It uses MapBox&nbsp;API to find the
            coordinates of the given location and OpenWeather&nbsp;API to get the weather for the
            coordinates of the location.
          </p>
          <p class="about-text">
            <strong>More details :-</strong>
          </p>
          <ol class="about-list">
            <li>Creates web server using express</li>
            <li>Cofigure express to serve static assets</li>
            <li>Uses axios npm module to work with http requests</li>
            <li>Uses MapBox API to get latitude and longitude</li>
            <li>Uses OpenWeather API to get weather details</li>
            <li>Uses hbs as view engine</li>
            <li>Creates dynamic pages with templating</li>
            <li>Access API from browser</li> 
            <li>Handles all the errors</li>
          </ol>
        </div>
      </div>
    </div>

    {{>footer}}
  </div>

  <!-- Custom JS -->
  <script src="/js/toggle.js"></script>
</body>

</html>