<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">

    <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>

    <div class="main-container">
        {{>header}}
        
        <div class="about-card">
            <div class="about-img">
                <img src="/img/sun.png" alt="sun">
                <img src="/img/snow.png" alt="snow">
                <img src="/img/rain.png" alt="rain">
                <img src="/img/thunder.png" alt="thunder">
            </div>

            <div class="about-content">
                <h1 class="about-title">About</h1>
                <p class="about-text">
                    My name is Shubham Kumar and I am from Kolkata, West Bengal, India. I am pursuing BTech in Computer Science and 
                    Engineering (2019&nbsp;-&nbsp;present). I am in 2nd year (4th semester).<br>
                    I am a full stack web developer, specializing in MERN <br>(Mongodb, Express, React, Node).
                </p>
                <p class="about-text">
                    To know more about me and my works, please visit my :  
                </p>
                <ol class="about-list">
                    <li>Linkedin</li>
                    <li>Github</li>
                </ol>
                <p class="about-text">
                    <strong>Weather Website - Node JS Project</strong><br>
                    This website shows you the weather of the given location. It uses Node JS and Express JS in the backend 
                    and simple HTML and CSS in the frontend. It uses <strong>MapBox&nbsp;API</strong> to find the coordinates of 
                    the given location and <strong>OpenWeather&nbsp;API</strong> to get the weather for the coordinates of the location. 
                </p>
                <p class="about-text">
                    <strong>Features of this project :-</strong>
                </p>
                <ol class="about-list">
                    <li>Asynchronous</li>
                    <li>Promises, async and await</li>
                    <li>Web Server using Express JS</li>
                    <li>API</li>
                    <li>Handlebars and axios</li>
                    <li>Dynamic and Static Pages</li>
                    <li>Templating and View Engine</li>
                </ol>
            </div>

        </div>
        
        {{>footer}}
    </div>
</body>
</html>