<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/img/weather.png">
  <title>Help</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="main-container">
    {{>header}}

    <div class="main-content">
      <div class="help-card">
        <div class="help-img">
          <img src="/img/help.png" alt="help">
        </div>

        <div class="help-content">
          <div class="help-item">
            <p class="help-text">To get weather of your location :</p>
            <ol class="help-list">
              <li>Enter your location in the location input box</li>
              <li>Try to be very specific about your location</li>
              <li>Click the search button</l>
              <li>You will get your weather data</li>
            </ol>
          </div>
          <div class="help-item">
            <p class="help-text">Following data are shown in weather card :</p>
            <ol class="help-list">
              <li>Temperature</li>
              <li>Weather description</li>
              <li>City, Country code</li>
              <li>Date</li>
            </ol>
          </div>
          <div class="help-item">
            <p class="help-text">Following data are shown in details section :</p>
            <ol class="help-list">
              <li>Minimum temperature</li>
              <li>Maximum temperature</li>
              <li>Wind Speed</li>
              <li>Humidity</li>
            </ol>
          </div>
          <div class="help-item">
            <p class="help-text">Didn't get the weather ?</p>
            <ol class="help-list">
              <li>"Loading..." - weather is being fetched</li>
              <li>"Location Not Found" - means the coordinates of location can't be found</li>
              <li>"Weather Not Found" - means the weather of location is not available</li>
            </ol>
          </div>
        </div>
        </h>
      </div>
    </div>

    {{>footer}}
  </div>

  <!-- Custom JS -->
  <script src="/js/toggle.js"></script>
</body>

</html>