<div class='weather-header'>
  <div class='header-content container'>
    <div class='header-title'>
      {{title}}
    </div>
    <div class='header-menu'>
      <ul class='menu-list'>
        <li class='menu-list-item'><a href='/'>Home</a></li>
        <li class='menu-list-item'><a href='/help'>Help</a></li>
        <li class='menu-list-item'><a href='/about'>About</a></li>
      </ul>
    </div>
    <div class='header-toggle'>
      <div class='toggle-line-1 toggle-line'></div>
      <div class='toggle-line-2 toggle-line'></div>
      <div class='toggle-line-3 toggle-line'></div>
    </div>
  </div>
</div>