/*=== GLOBAL CSS VARIABLES ===*/
:root {
  --primary-color: #ffee00;
  --text-color: #000;
  --card-bg: #fff;
}

/*=== GLOBAL CSS ===*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
a,
.header-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin-top: 2.5rem;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background: #fff;
}

.container {
  width: 60%;
  margin: auto;
}

.main-container {
  max-width: 1400px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding-top: 4rem;
}

/*=== HEADER ===*/
.weather-header {
  width: 100%;
  max-width: 1400px;
  height: 3.5rem;
  position: fixed;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.header-content {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 1.7rem;
  font-weight: 700;
}

.menu-list {
  padding: 0;
  list-style-type: none;
}

.menu-list-item {
  margin-left: 2rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
}

.menu-list-item a {
  text-decoration: none;
  color: var(--text-color);
}

.header-toggle {
  display: none;
  cursor: pointer;
}

.toggle-line {
  width: 1.3rem;
  height: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: #000;
}

.active-toggle .toggle-line-1 {
  transform: rotateZ(-50deg) translateY(150%);
}

.active-toggle .toggle-line-2 {
  display: none;
}

.active-toggle .toggle-line-3 {
  transform: rotateZ(50deg) translateY(-150%);
}

/*=== WEATHER-SEARCH ===*/
.weather-search {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 2rem;
}

input {
  width: 15rem;
  padding: 0.3rem 0.6rem;
  margin-right: 1rem;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--text-color);
  border: 0.12rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  outline: none;
}

button {
  padding: 0.2rem 0.6rem;
  display: inline-block;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary-color);
  cursor: pointer;
  outline: none;
  border: 0.2rem solid var(--primary-color);
  border-radius: 0.2rem;
  transition: all 0.5s ease;
}

button:hover {
  border-color: var(--text-color);
  color: var(--primary-color);
  background: var(--text-color);
}

/*=== WEATHER-CARD ===*/
.weather-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 37rem;
  padding: 3rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  background: var(--card-bg);
  border-radius: 0.5rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 8px 24px,
    rgba(17, 17, 26, 0.05) 0px 16px 56px, rgba(17, 17, 26, 0.05) 0px 24px 80px;
}

.weather-icon {
  align-self: center;
  font-size: 7rem;
}

.weather-icon img {
  display: block;
  width: 12rem;
}

.weather-info {
  text-align: right;
  justify-self: center;
  align-self: center;
}

.weather-temp {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.weather-condition {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.weather-location,
.weather-time {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: capitalize;
}

.vertical-bar {
  margin: 0 0.1rem;
  font-weight: 600;
}

/*=== WEATHER-DETAILS ===*/
.weather-details {
  margin-bottom: 5rem;
}

.details-title {
  position: relative;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.details-title::after {
  content: ' ';
  display: inline-block;
  width: 80%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.details-content {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
}

.details-content h4 {
  width: 50%;
  margin-bottom: 0.5rem;
}

.details-content span {
  margin-left: 0.5rem;
}

/*=== ABOUT and HELP and 404 ERROR===*/
.about-card,
.help-card,
.error-card {
  display: flex;
  width: 80%;
  padding: 4rem;
  padding-left: 5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  background: var(--card-bg);
  border-radius: 1rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 8px 24px,
    rgba(17, 17, 26, 0.05) 0px 16px 56px, rgba(17, 17, 26, 0.05) 0px 24px 80px;
}

.help-card,
.error-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-img {
  margin-right: 5rem;
  margin-top: 1rem;
}

.about-img img {
  display: block;
  width: 10rem;
  height: 8rem;
  margin-bottom: 2rem;
}

.help-img {
  margin-bottom: 4rem;
}

.help-img img {
  display: block;
  width: 15rem;
}

.about-title,
.help-title {
  font-size: 2.5rem;
}

.error-title {
  font-size: 7rem;
}

.error-subtitle {
  font-size: 2rem;
  margin-top: -2rem;
  margin-bottom: 4rem;
}

.about-text,
.help-text {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.about-text {
  font-weight: 600;
}

.error-text {
  font-size: 1rem;
  font-weight: 700;
}

.about-list,
.help-list {
  margin-top: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  list-style-position: inside;
}

.about-list,
.help-list li {
  margin-top: 0.3rem;
}

.about-list li a {
  color: var(--text-color);
}

/*=== FOOTER ===*/
.weather-footer {
  height: 2.5rem;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  background-color: var(--primary-color);
}

/*===   RESPONSIVE MEDIA QUERIES ===*/
@media only screen and (max-width: 1000px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 70%;
  }

  .weather-header {
    z-index: 999;
  }

  .header-menu {
    position: absolute;
    top: 2.5rem;
    left: -100%;
    width: 100%;
    z-index: -1;
    transition: all 0.5s ease;
  }

  .active-header-menu {
    left: 0;
  }

  .menu-list {
    width: 100%;
    height: 100vh;
    padding: 4rem 0;
    text-align: center;
    background: rgb(0, 0, 0);
  }

  .menu-list-item {
    margin-left: 0;
    margin-top: 2rem;
    display: block;
  }

  .menu-list-item a {
    font-size: 1.2rem;
    color: #fff;
    transition: all 0.5s ease;
  }

  .menu-list-item a:hover {
    color: var(--primary-color);
  }

  .header-toggle {
    display: inline-block;
  }

  .toggle-line {
    transition: all 0.5s ease;
  }

  label {
    display: block;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  input {
    margin-bottom: 1rem;
  }

  .weather-card {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    width: 25rem;
  }

  .weather-icon {
    justify-self: center;
    font-size: 7rem;
  }

  .weather-info {
    margin-top: 3rem;
    text-align: center;
  }

  .weather-temp {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  .weather-condition {
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
  }

  .weather-location,
  .weather-time {
    font-size: 0.8rem;
  }

  .details-title {
    line-height: 0.8;
  }

  .details-title::after {
    width: 100%;
  }

  .details-content h4 {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .about-card {
    flex-direction: column;
  }

  .about-img {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .about-img img {
    display: inline-block;
    margin-right: 2rem;
    width: 8rem;
    height: 6rem;
  }
}

@media only screen and (max-width: 560px) {
  .container {
    width: 90%;
  }

  .weather-card,
  .about-card,
  .error-card,
  .help-card {
    width: 90%;
    padding: 2rem;
  }

  .about-img {
    margin-bottom: 0;
  }

  .about-img img {
    display: none;
  }
}
